body{
  background-color: $primary-bg-bogy;
  font-family: $primary-font;
  color: $primary-color-txt;
}
.container{
  margin-left: auto;
  margin-right: auto;
}
a{
  &:hover{
    text-decoration: none;
  }
  
}
li{
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
  padding: 0;
  margin: 0;
}
button,
input,
select{
  border: none;
  outline: none;
  background-color: none;
}
input{
  cursor: pointer;
}
img{
  width: 100%;
}
.bg-block{
  background-color: $bg-block;
}
.pd-b-32{
  padding-bottom: 32px;
}
.pd-t-16{
  padding-top: 16px;
}
.pd-t-38{
  padding-top: 38px;
}
.pd-b-16{
  padding-bottom: 16px;
}
.pd-b-32{
  padding-bottom: 32px;
}
.pd-b-58{
  padding-bottom: 58px;
}
.pd-b-75{
  padding-bottom: 75px;
}
.mg-t-32{
  margin-top: 32px;
}


