body{
  background-color: $primary-bg-bogy;
  font-family: $primary-font;
  color: $primary-color-txt;
}
.container{
  margin-left: auto;
  margin-right: auto;
}
a{
  &:hover{
    text-decoration: none;
  }
  
}
li{
  list-style-type: none;
}
ul,
p{
  padding: 0;
  margin: 0;
}
button,
input,
select{
  border: none;
  outline: none;
  background-color: none;
}
input{
  cursor: pointer;
}
img{
  width: 100%;
}


