$primary-font: 'Mulish', sans-serif;

$primary-bg-bogy: #f5fafe;
$bg-primary: #0a223d;
$bg-secondary: #ec1f46;

$bg-block: #fff;

$primary-color-txt: #333333;
$secondary-color-txt: #fff;
$selected-color-txt: #ec1f46;



